@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

/* Fonts and Colors set */
@theme {
    /* font */
    --font-dm: "DM Sans", sans-serif;

    /* colors */
    --color-white: #FFFFFF;
    --color-surface-1: #F4F6F9;
    --color-surface-2: #EEF1F7;
    --color-border-1: #DDE2ED;
    --color-border-2: #C8D0E2;
    --color-light-green: #00C896;
    --color-dark-green: #009E78;
    --color-bg-green: #E6FBF4;
    --color-light-purple: #7B5EA7;
    --color-bg-purple: #F0EBF9;
    --color-amber: #F5A623;
    --color-blue: #3B82F6;
    --color-navy: #0A0E1A;
    --color-text-1: #0D1220;
    --color-text-2: #4A5568;
    --color-text-3: #8899BB;

    /* animations */
    --animate-fade-up: fade-up 0.8s ease-out forwards;

    @keyframes fade-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}